.contact {
	padding: 116px;
	flex-direction: column;
	h2 {
		font-weight: 500;
		font-size: 24px;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		margin-bottom: 65px;
		align-self: flex-start;
		margin-left: 25%;
	}
	&_form {
		input,
		textarea {
			border: 1px $color_7 solid;
			border-radius: 34px;
			padding: 5px 20px;
			width: 100%;
			margin: 20px 0;
			resize: none;
			font-size: 18px;
			letter-spacing: 0.1em;
			outline: none;
			font-weight: 500;
			transition: all 0.6s;
			&::placeholder {
				transition: all 0.6s;
				color: $color_8;
			}
			&:hover {
				background: $color_7;
				color: $color_3;
				&::placeholder {
					color: $color_3;
				}
			}
		}
		textarea {
			padding: 15px 25px;
		}
		div:nth-child(1) {
			input {
				width: calc(50% - 15px);
			}
			input:nth-child(1) {
				margin-right: 30px;
			}
		}
		div:nth-child(2) {
			input {
				width: 65%;
			}
		}
	}
	@media (max-width: 650px) {
		padding: 100px 25px;
	}
	@media (max-width: 400px) {
		div:nth-child(1) {
			input {
				width: 100%;
			}
			input:nth-child(1) {
				margin-right: 0px;
			}
		}
		div:nth-child(2) {
			input {
				width: 100%;
			}
		}
	}
	@media (max-width: 300px) {
		padding: 100px 10px;
	}
}
