.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 10vh;
	justify-content: space-between;
	&_left,
	&_center,
	&_right {
		width: 33%;
	}
	&_left {
		button {
			margin-left: 25px;
			background: none;
			border: none;
			cursor: pointer;
			i {
				color: $color_3;
				font-size: 3em;
			}
		}
	}
	&_center {
		text-align: center;
		a {
			color: $color_3;
			font-size: 18px;
			letter-spacing: 0.1em;
			border-bottom: 3px transparent solid;
			font-size: 2em;
			font-weight: 700;
			position: relative;
			&::before {
				position: absolute;
				top: 50%;
				left: calc(50% - 17px);
				content: '';
				width: 41px;
				height: 3px;
				background: $color_2;
			}
		}
	}
	&_right {
		text-align: left;
		ul {
			li {
				display: inline;
				margin-right: 50px;
				a {
					color: $color_3;
					font-size: 18px;
					letter-spacing: 0.1em;
					border-bottom: 3px transparent solid;
					font-weight: 700;
					transition: all 0.3s;
					&:hover {
						border-color: $color_3;
					}
				}
			}
		}
	}
}
