// Fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

// Variable

$color_1: #000000;
$color_2: #bc9a44;
$color_3: #ffffff;
$color_4: #e4d7b4;
$color_5: #827e7e;
$color_6: #1d1818;
$color_7: #bcb5b5;
$color_8: #d3c08e;

$font: 'Raleway', sans-serif;

// Reset

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html,
body {
	font-family: $font;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
li {
	list-style-type: none;
}

// General

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 2000px;
	margin: 0 auto;
}
